@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Poiret+One&display=swap');

* {
   font-family: 'Kanit', sans-serif;
   font-size: 100%;
}

header {
    background-color: #BFFFF1;

}

nav {
    /*        */
}

#dot {
    background-color: #6C62FF;
    border-radius: 50%;
    display: inline-block;
    margin-top: .45rem;
    margin-left: .3em;
    font-size:2.5em;
    width: 3rem;
    height: 3rem;
    line-height:2.5em;
    margin-right:1em;
    color:white;
}



#dot span {
    display: inline-block;
    font-size: 2rem;
    /* justify-content: center; */
    border-bottom: 20rem;
    /* margin-left: .65em; */
    
   
}

.header h3 {
    color: #6C62FF;
    font-size: 2rem;  
}

#hamburger {
    /* margin-right: .65em; */
}

.home {
    background-color: #74F2CE;
    text-align: center;
    font-size: 3rem;      
}

.home img {
    width: 50%;
}

.projects {
    background-color: #0A3200; 
}

.about {
    background-color: #379634;
}

.contact {
    background-color: #7CFFCB;
}

footer {
    background-color: #BFFFF1;  
}