@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Poiret+One&display=swap');

* {
   font-family: 'Kanit', sans-serif;
   font-size: 100%;
}

.header {
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
}

.header h3 {
    color: #6C62FF;
    font-size: 2rem;
   
}

#hamburger {
    margin-right: .65em;
}



/* maybe make a header & footer section since these are common */
/* .wrapper {
    background-color: paleturquoise;
    display: flex;
} */

#dot {
    background-color: #6C62FF;
    border-radius: 50%;
    display: inline-block;
    font-size:2.5em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    color:white;
    margin: .35em 1em .35em .35em
}

#dot span {
    margin-left: .65em;
}


h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 7fr 7fr 1fr;
}

#top-container {
    background-color: lightseagreen;
    text-align: center;
}

#top-container img {
   
    margin-top: 30px;
    
}

#bottom-container {
    background-color: lightsteelblue;
    font-size: 2.5em;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
} 

#about-me-div {
  /* align-content: center; */
  grid-column: 1/3;
  grid-row: 1/2;
  border-top: .5rem solid black;
    
}

#bottom-container p {
    font-size: .85rem;
    margin: 2rem 1rem 0rem 2.2rem;
    text-align: left;
}

#skill-bullets {
    grid-template-rows: 2/3;
    grid-template-columns: 1/2;
    /* justify-content: center; */
    /* width: 100%; */
}

#skill-bullets {
    font-size: 1rem;
    padding-left: 0rem;
}

#skill-bullets ul {
    list-style: none;
}

#skill-logos {
    grid-template-rows: 2/3;
    grid-template-columns: 2/3;
}

#skill-logos img {
    width: 2.5em;
}

.footer {
    background-color: paleturquoise;
    display: flex;
  
}

