@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Poiret+One&display=swap');

* {
   font-family: 'Kanit', sans-serif;
   font-size: 100%;
}

.header {
    /* background-color: #02C39A; */
}

.header h3 {
    color: #6C62FF;
    font-size: 2rem;
   
}

#hamburger {
    margin-right: .65em;
}

/* #contact img {
    width: 10rem;
    border-radius: 50%; 
} */

/* maybe make a header & footer section since these are common */
/* .wrapper {
    background-color: paleturquoise;
    display: flex;
} */

#dot {
    background-color: #6C62FF;
    border-radius: 50%;
    display: inline-block;
    margin-top: .35em;
    margin-left: .3em;
    font-size:2.5em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    /* text-align:center;
    vertical-align:middle; */
    margin-right:1em;
    color:white;
}

#dot span {
    margin-left: .65em;
}


h2 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

.home {
    background-color: #00A896;
    text-align: center;
}

.home img {
    /* border-radius: 70%;
    margin: 40px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; */
    margin: 30px 0px 0px 10px;
    
}

.projects {
    background-color: #003049;
    font-size: 2.5em;
    text-align: center;
} 

#projects-title {
    margin: .75rem;   
    color: white;
    font-size: 3rem;;
}

.projects p {
    margin: 0;
    color: white;
}

.projects span {
    font-size: 4rem;
}

.project {
    background-color: #70a0af;
    background-color: #4166DC;
    border: 8px solid white;
    border-radius: 20px;
}

.contact {
    background-color: #4166DC;;
}

.contact p {
    color: white;
    font-size: 3rem;
    margin: 1rem 0rem 4rem 3rem;
}

.contact label {
    color: white;
    font-size: 3rem;
    margin: 1rem 0rem 0rem 3rem;
}

input {
    height: 4rem;
    width: 30rem;
}

#message {
    height: 25rem;
    width: 35rem;
    margin: 2rem;
}

.about {
    background-color: #0A3200;
}

.footer {
    background-color: #02C39A; 
}

 