@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Kanit:wght@300&family=Poiret+One&display=swap');

* {
   font-family: 'Kanit', sans-serif;
   font-size: 100%;
}

.header {
    background-color: paleturquoise;
    display: flex;
    justify-content: space-between;
}

.header h3 {
    color: #6C62FF;
    font-size: 2rem;
   
}

#hamburger {
    margin-right: .65em;
}

/* #contact img {
    width: 10rem;
    border-radius: 50%; 
} */

.footer {
    background-color: paleturquoise;
    display: flex;
  
}

/* maybe make a header & footer section since these are common */
/* .wrapper {
    background-color: paleturquoise;
    display: flex;
} */
/*
#dot {
    background-color: #bbb;
    border-radius: 50%;

    display: flex;   
    justify-content: center;
    align-items: center;
    justify-self: stretch;
    font-size:2.5em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    margin-right:1em;
    color:white;
}
*/

#dot {
    background-color: #6C62FF;
    border-radius: 50%;
    display: inline-block;
    margin-top: .35em;
    margin-left: .3em;
    font-size:2.5em;
    width:2.5em;
    height:2.5em;
    line-height:2.5em;
    /* text-align:center;
    vertical-align:middle; */
    margin-right:1em;
    color:white;
}

#dot span {
    margin-left: .65em;
}


h2 {
    font-size: 3rem;
    /* padding: none; */
}

h3 {
    font-size: 2rem;
}

.main-container {
    display: grid;
    align-content: stretch;
    /* grid-template-rows: 10% 70% 70% 10%; */
    grid-template-rows: 1fr 7fr 7fr 1fr;
    /* grid-template-rows: auto 3fr 3fr auto; */
  
}

#top-container {
    background-color: lightseagreen;
    text-align: center;
}

#bottom-container {
    background-color: lightsteelblue;
    font-size: 2.5em;
    text-align: center;
    /* display: flex;
    justify-content: center; align horizontal */
    /* align-items: center; align vertical */
} 


#top-container img {
    /* border-radius: 70%;
    margin: 40px 0px 0px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; */
    margin: 30px 0px 0px 10px;
    
}

