/* ---Mobile styling---  */  

  


    /* #header {

    }

    .main container {
        
        
    }

    #top-container {
       
        
    }

    #bottom-container {
       
         display: block;  
       
        
         font-size: 50px; 
    } */

    /* #footer {
        height: 100px;
        width: 100%;
    }    */


 /* ---Tablet styling---  */
@media screen and (min-width: 768px) {
    
    /* #top-container {
        background-color: lightgoldenrodyellow;
    } */

}

/* ---Desktop styling---  */
@media screen and (min-width: 992px) { 


}