/* ---Mobile styling---  */  
    #nav-bar {
        display: none;
    }

    .contact {
        
        display: grid;
        grid-template-columns: .3fr 1fr .75fr;
        
    }

    .contact form {
        /* text-align: center; */
    }

    .contact #submit {
        display: block;
        text-align: center;
        /* margin-right: 20rem; */
    }
    
    .js-app {
        background-color: white;
    }

   

 /* ---Tablet styling---  */
@media screen and (min-width: 768px) {
    
    /* #top-container {
        background-color: lightgoldenrodyellow;
    } */

}

/* ---Desktop styling---  */
@media screen and (max-width: 992px) { 

    .header {
        display: flex;
        align-content:space-between;
    }

    .home img {
        width: 50%;
    }

    /* .home #my-name {
        margin: 20rem;
    } */

   .contact {
       display: block;
   }

   
}