/* ---Mobile styling---  */
#nav-bar {
  display: none;
}

/* ---Tablet styling---  */
@media screen and (min-width: 768px) {
  /* #nav-bar {
        display: flex;
    } */
}

/* ---Desktop styling---  */
@media screen and (min-width: 992px) {
  /* -- Will be added to support nav--
    .header {
        display: flex;
        align-content:space-between;
    } */

  #dot {
    order: 0;
  }

  #hamburger {
    display: none;
  }

  #my-name {
    margin-top: 5rem;
  }

  #submit {
    display: block;
    text-align: center;
  }
}
